
<header>
  <div class="container">
    <nav>
      <div class="logo">
        <img src="images/CentsibleLogoNoText.png" alt="Centsible Logo" class="logo-image" width="36" height="36">
        <span class="logo-text">Centsible</span>
      </div>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="signup.html" class="btn">Sign Up</a></li>
        <li> <button class="dark-toggle"> <span class="moon-icon">☾</span> <span class="sun-icon" style="display:none;">☼</span> </button> </li>
      </ul>
    </nav>
  </div>
</header>