<header>
  <div class="container">
    <nav>
      <div class="logo">
        <img src="images/CentsibleLogoNoText.png" alt="Centsible Logo" class="logo-image" width="36" height="36">
        <span class="logo-text">Centsible</span>
      </div>
      <ul class="nav-links">
        <li><a href="index.html">Landing Page</a></li>
        <li><a href="about.html">Account</a></li>
        <li><a href="login.html" id="sign-out-link" class="btn">Sign Out</a></li>
      </ul>
    </nav>
  </div>
</header>
